<p>user-details works!</p>

<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">

    <label>Username :</label>
    <input type="text"
        name="username"
        [(ngModel)]="username" #usernameRef="ngModel"
         required minlength="3">

    <div *ngIf="usernameRef.errors?.required && !usernameRef.untouched">
        This field is required</div>

    <div *ngIf="usernameRef.errors?.minlength">
        Atleast add 3 chars</div>

    <br />
    <label>email :</label>
    <!-- <input type="text"
        name="email"
        [(ngModel)]="email"
         #emailRef="ngModel" required> -->

<br/>
    <button type="submit"> submit form</button>
</form>